/* Header */
.header {
  background-color: white;
  padding: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  /* width: rem; */
  padding: 0 1rem;
  position: relative;
}

.backButton, .helpButton {
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  position: absolute;
}

.backButton {
  left: 0.5rem;
  width: 2.5rem;
}

.helpButton {
  right: 0.5rem;
}

.backButton img, .helpButton img {
  width: 1.5rem;
  height: 1.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
  color: #018941;
  margin: 0;
  text-align: center;
}
